.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #262626;
    width: 100px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }

    span {
        font-size: 14px;
        color: #fff;
    }
}

.player-active {
    background-color: rgb(150, 50, 0);
}